[user]
	name = ellchow
	email = zzzxqq@gmail.com

[push]
  default = matching

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  l = log --pretty=format:\"%h %ad [%an] | %s%d \" --graph --date=short
  gr = grep
  fu = fetch upstream
