[user]
  name = Elliot Chow

[push]
  default = simple

[alias]
  fo = fetch origin
  fu = fetch upstream

  gr = grep

  l = log --pretty=format:\"%h %ad [%an] | %s%d \" --graph --date=iso
  lh = !"f() { git log --pretty=format:\"%h %ad [%an] | %s%d \" --graph --date=iso | head $@ ; }; f"
  st = status
  rl = rev-list --format=%B -n 1
  rlh = rev-list --format=%B -n 1 HEAD
  d = diff
  dc = diff --cached

  aA = add -A
  au = add -u

  br = branch
  brd = branch -D
  brdr = push --delete
  brda = !"f() { git branch -D $2; git push $1 :$2; }; f"
  brlr = !"f() { git br -r | grep '^[ ]*'$1; }; f"
  brm = branch -M
  psu = push --set-upstream

  co = checkout
  cob = checkout -b

  ci = commit
  cim = commit -m
  ciam = commit --amend -m
  ciap = !"f() { x=`git log --pretty=format:"%s" | head -1`; git commit --amend -m \"$x\"; }; f"

  sl = stash list
  ss = stash save
  sp = stash pop
  sa = !"f() { git stash apply 'stash^{/'$1'}'; }; f"
  sd = !"f() { git stash drop 'stash^{/'$1'}'; }; f"

  rss = reset --soft
  rb = rebase
  rbi = rebase --interactive
  rba = rebase --abort
  rbc = rebase --continue
  rbo = rebase --onto
  prb = pull --rebase
  mff = merge --ff-only
  pff = pull --ff-only
  cp = cherry-pick
